.back-to-top {
  visibility: hidden;
  background-color: #323232;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 34px;
  position: fixed;
  bottom: 65px;
  right: 35px;
  z-index: 90;
  cursor: pointer;
  border-radius: 1px;
  opacity: 0;
  transition: all .6s
}

.back-to-top .fa {
  font-size: 16px;
  color: #fff;
  vertical-align: middle;
}

.back-to-top:hover {
  background-color: #3598db;
  opacity: 1
}

.back-to-top.show {
  visibility: visible;
  bottom: 35px;
  opacity: 1;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.content {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

#overlay{
  position:absolute;
  /* z-index:100; */
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:lightblue;
  transition: 1s 0.4s;
}
#progress{
  height:1px;
  background:black;
  position:absolute;
  width:0;
  top:50%;
}
#progstat{
  font-size:0.7em;
  letter-spacing: 3px;
  position:absolute;
  top:50%;
  margin-top:-40px;
  width:100%;
  text-align:center;
  color:black;
}